#head-info{
  background-color: #1B5A60;
  padding: 7px 7px 7px 3px;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

h1{
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 48px;
  margin: 16px;
  justify-content: center;
}

body{
  background-color: #5F9EA0;
}

.user-input-body{
  width: 1190px;
  height: 250px;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 35px;
  border: solid;
  border-color: black;
  border-style: ridge;
  font-family: Garamond;
  font-size: 24px;
  background-color:  #9FDFE4;
}

input{
  width: 250px;
  height: 15px;
  border-radius: 5px;
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 500px;
}
.saved-container{
  background-color: white;
  border: solid;
  border-color: black;
  border-radius: 5px;
  width: 450px;
  height: 300px;
  margin-left: 39px;
  margin-top: -20px;
  background-color: #7FBFC2
}

.add-text-btn{
  margin-left:-50px;
  border-radius: 5px;
  height: 21px;
}

.del-text-btn{
  border-radius: 5px;
  height: 20px;
}

.display-item{
  background-color:grey;
  font-family: Garamond;
}
.display-item:hover{
  background-color: lightslategray;
}
#chart{
  margin-top: -280px;
  margin-right: -400px;
}

canvas{
  margin-left: -9px;
  opacity: 0.33;
  margin-top: -800px;
  margin-bottom: 350px;
}
/*
change the placeholder and input fonts
make the containersinside saved-containers fancy
*/
